<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- ACCESS_SUPERUSER -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" /> <!-- 修改或删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 悬浮 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:label="Dowork"
        android:supportsRtl="true"
        android:theme="@style/mThemeAppCompat">
        <service
            android:name=".service.mainService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".PropertiesActivity"
            android:exported="false"
            android:label="设置" />
        <activity
            android:name=".TermActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/ATheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>